@import "variables";

@mixin font ($color: #363F46, $fontW: bold) {
    font-size: $mainFontSize;
    font-weight: $fontW;
    font-family: Arial, Helvetica, sans-serif;
    color: $color;
}

@mixin padd($padd...){
    padding: $padd;
}

@mixin link($link, $hover, $active, $visited){
    color: $link;
    &:hover{
        color: $hover;
        //color: lighten($link, 30%);
    }
    &:active{
        color: $active;
    }
    &:visited{
        color: $visited;
    }
    @content;
}

@mixin grid($cols, $margin){
    // cols - передаем количество блоков в 1 ряду
    // margin - расстояние между блоками и между рядами 
    float: left;
    background: #81a5c0;
    margin-right: $margin;
    margin-bottom: $margin;
    height: 150px;

    // > < => <= !=
    @if($cols >= 5){
        width: 100%;
        margin-right: 0;
    }
    @else{
        width: ((100% - (($cols - 1 ) * $margin)) / $cols);
        margin-right: $margin;
    }


    

    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}

